<table id="userTable" class="table table-responsive-lg" data-pagination="true" data-page-size="2">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Modify user</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{user.id}}</th>
      <td>{{user.Username}}</td>
      <td>{{user.Firstname}}</td>
      <td>{{user.Lastname}}</td>
      <td>{{user.Email}}</td>
      <td>{{user.Address}}</td>
      <td>{{user.Phone}}</td>
      <td>
        <a class="btn btn-success" [routerLink]="['/user-detail', user]" role="button">Edit</a>
        <a class="btn btn-danger" role="button" (click)="onDelete(user.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>


