<div class="row text-right">
  <div class="col">
    <input #search class="form-control search input-sm" type="text" placeholder="Search..." (keyup)="onSearch(search.value)">
  </div>
  <div class="col text-right">
    <a class="btn btn-success" [routerLink]="['/user-detail/', 'add']" role="button">Add user</a>
  </div>
</div>
  <table id="userTable" class="table table-responsive-lg">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let column of columns" scope="col">{{column}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of filteredUsers">
      <th scope="row">{{user.id}}</th>
      <td>{{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.location}}</td>
      <td>{{user.phone}}</td>
      <td>
        <a class="btn btn-success" [routerLink]="['/user-detail/', 'edit', user.id]" role="button">Edit</a>
        <a class="btn btn-danger" role="button" (click)="onDelete(user)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>


